body,
html {
    height: 100%;
}

.bg {
    /* background-image: url("../img/eye.png"); */
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.txtMain {
    color: black;
}

.txtIndexBig {
    color: #E51847;
}

.txtCommon {
    color: black;
}

.center {
    margin: auto;
    height: 100%;
    padding: 7%;
}